<% provide(:title, "このアプリについて") %>
<div class="container">
  <h1>このアプリについて</h1>
  <div class="about-contents">
    <h2>鉄道の指定席について</h2>
    <p>皆さんは、普段鉄道を利用しますか？</p>
    <p>通勤/通学で毎日利用している人、たまにお出かけで利用する人、全くと言っていいほど乗らない人等
    様々な方がいらっしゃることと思われます。</p>
    <p>JRの列車の座席は、<span>自由席</span>と<span>指定席</span>の2種類に分けることができます。</p>
    <p>指定席は数に限りがあります。<span>指定席券</span>の事前購入が必要であり、自動券売機やインターネット等で予約・発券する必要があります。</p>
    <h2>入手困難な指定席</h2>
    <p>多くの指定席は乗車当日に発券可能ですが、中には確保が難しい指定席もあります。</p>
    <ul>
      <li>繁忙期の新幹線指定席</li>
      <li>寝台特急サンライズ出雲/瀬戸のノビノビ座席</li>
      <li>臨時列車(夜行快速ムーンライトながら等)</li>
    </ul>
    <p>もっとも一般的に馴染みがあるのは、年末年始をはじめとした繁忙期の新幹線指定席かと思われます。</p>
    <p>また、鉄道オタクの中には、ムーンライトながらの指定席を</p>
    <p><span>喉から手が出るほど</span>欲しがる人もいます(開発者も然り)。</p>
    <p>このような入手困難な指定席は、以下の方法で入手するしかありません。</p>
    <ol>
      <li>発売する瞬間に予約をする</li>
      <li>ヤフオク等で購入する</li>
      <li>キャンセル待ちをする</li>
    </ol>
    <p>しかし、1. の方法は、<span>予約フォームがサーバー落ちしやすい</span></p>
    <p>2. の方法は、<span>転売ヤーが非常に多い</span></p>
    <p>ということから、もっとも現実的な方法は3. であると開発者は考えます。</p>
    <p>しかし、キャンセルが出た瞬間キャンセルを通知するようなサービスは、開発者の知る限りでは存在せず、</p>
    <p>現状キャンセルを拾うには、自分で<a target="_blank" href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html">空席紹介サイト</a>を定期的に確認するしかありません。</p>
    <p>動的なページであるため、一般的にリリースされているウェブサイト更新チェックサービスを使うのは難しいです。</p>
    <p>また、列車によっては、数日間全くキャンセルが出ないものもあります（開発者調査済み）。</p>
    <h2>このアプリを作ったきっかけ</h2>
    <p>上記で述べた通り、入手困難な指定席が存在し、それを巡り以下の問題が生じております。</p>
    <ul>
      <li>入手する現実的な手段が少ない</li>
      <li>転売ヤーが続発している</li>
      <li>本当に指定席を欲しい人が利用できない</li>
    </ul>
    <p>しかし、開発者は鉄道オタクでもあり、皆が公平に鉄道旅を楽しむべきだという考えのもと、</p>
    <p>何かもっと簡単に指定席のキャンセル情報を得る方法はないかと模索し、本アプリを開発しました。</p>
    <p>皆が指定席のキャンセル方法を平等に入手し、楽しい鉄道旅を送っていただければと存じ上げます。</p>
    <h2>実装に用いた技術</h2>
    <ul>
      <li>Ruby on Rails - フレームワークとして使用</li>
      <li>LINE Messaging API - LINEへの通知機能実装に使用</li>
      <li>AES暗号(OpenSSL) - LINEトークンの暗号化に使用</li>
      <li>Selenium(Python) - ブラウザの自動操作に使用 </li>
      <li>BeautifulSoup4(Python) - 空席紹介サイトのスクレイピングに使用</li>
    </ul>
    <h2>実装した機能</h2>
    <ul>
      <li>管理ユーザー登録機能</li>
      <li>管理ユーザーログイン機能</li>
      <li>通知登録機能</li>
      <li>通知一覧確認機能</li>
      <li>通知詳細確認機能</li>
      <li>ページネーション機能</li>
      <li>単体テスト機能</li>
      <li>統合テスト機能</li>
    </ul>
  </div>
</div>
