<% provide(:title, "ホーム") %>
<div class="center jumbotron">


  <h1>JR空席通知アプリ</h1>
  <p>
    このページは<a target="_blank" href="https://railstutorial.jp/">この</a>チュートリアルを参考にして作られました。

  </p>
  <p>また、<a target="_blank" href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html">この</a>サイトを用いて空席を通知します。利用可能時間は6:30~22:30です。

  </p>
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
