<% provide(:title, "使い方") %>
<div class="container">
  <h1>使い方</h1>
  <h2>Step1. アカウントを新規登録する</h2>
  <p><a href=signup_path>新規登録ページ</a>から、アカウントを作成してください。</p>
  <h2>Step2. LINEトークンを発行する</h2>
  <p><a href="https://notify-bot.line.me/ja/">このサイト</a>へLINEアカウントでログインしてください。</p>
  <%= image_tag 'image1.png', id: "image1" %>
  <p>ログインできたら、画面右上にある自分の名前をクリックし、「マイページ」という項目を選択してください。</p>
  <%= image_tag 'image2.png', id: "image2" %>
  <p>その後、「トークンを発行する」という項目をクリックします。</p>
  <%= image_tag 'image3.png', id: "image3"%>
  <p>トークン名を設定してください。これはどのような文字列でも問題ありません。</p>
  <p>通知を送信するトークルームは、「1:1でLINE Notifyから通知を受け取る」を選択してください。</p>
  <%= image_tag 'image4.png', id: "image4" %>
  <p>すると、意味不明な文字列が発行されると思います。これがトークンです。</p>
  <p>これを、どこか適当な場所に記憶しておいてください。ただし、<span>第三者に公開しないでください</span>ね。</p>
  <h2>Step3. 通知登録をする</h2>
  <p><a href=notifications_path>こちら</a>から、通知して欲しい指定席の情報を入力してください。</p>
  <p>また、先ほど取得したトークンも入力してください。トークンは暗号化して保存されます。</p>
  <p>入力を終えたら、「通知登録」をクリックしてください。</p>
  <p>「通知一覧」のページに遷移されたら、登録は成功です。</p>
  <p>失敗した場合、何らかの入力情報が誤っている場合があります。<a href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html" target="_blank">サイバーステーション</a>で、入力内容が有効かどうか確認してください。</p>
</div>
