<% provide(:title, "通知変更") %>
<% provide(:url_path, "/notifications/#{params[:id]}/update") %>
<div class="container">


<h1>通知登録の変更</h1>
<p>全て入力してください。</p>
<p><a target="_blank" href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html">こちら</a>でフォームが有効かどうか確認すると便利です。</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=render "form" %>

  </div>
</div>
</div>
