// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: left;
  font-size: 30px;
  border-bottom: 1px solid #271c19;
}
#image1, #image2 {
  width: 70%;
}

#image3, #image4 {
  width: 300px;
  height: 40%;
}
span {
  color: red;
}

.home-top-wrapper {
  padding-top: 80px;
  text-align: center;
  height: 800px;
  h1 {
    font-size: 80px;
    letter-spacing: 2px;
  }

}

.btn-primary {
  color: #271c19;
  background-color: #ffc0ad;
  border-color: #ffc0ad;
  &:hover {
    color: #271c19;
    background-color: #ffc0af;
    border-color: #ffc0af;
  }
}
