<footer class="footer">
  <small>
    Made By <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    Using <a href="http://www.jr.cyberstation.ne.jp/vacancy/Vacancy.html">JR Cyberstation</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このアプリについて",   about_path %></li>
    </ul>
  </nav>
</footer>
